<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="{{ site.lang | default: 'en' }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="{{ site.lang | default: 'en' }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ site.lang | default: 'en' }}">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{{ page.title | default: "Hola" }}</title>
    <meta name="description" content="{{ page.description | default: '' }}">
    <meta name="author" content="{{ page.author | default: '' }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/css_hola10/base.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/css_hola10/vendor.css' | relative_url }}">
    <!-- link rel="stylesheet" href="{{ '/assets/css/css_hola10/main.css' | relative_url }}" -->

    <script src="{{ '/assets/js/js_hola10/modernizr.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/js_hola10/pace.min.js' | relative_url }}"></script>
</head>

<body id="top">
    <section id="home" class="s-home page-hero target-section"
             data-parallax="scroll"
             data-image-src="{{ '/assets/img/jy.jpg' | relative_url }}"
             data-natural-width="4478"
             data-natural-height="2517"
             data-position-y="center">

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">
            <div class="row home-content__main">
                <h3>{{ site.greeting | default: "Hello There" }}</h3>

                <h1>
                    I am {{ site.author_name | default: "Jinyi Li" }}. <br>
                    An alchemist <br>
                    in artificial intelligence.
                </h1>
            </div>
        </div>
    </section>

    <script src="{{ '/assets/js/js_hola10/jquery-3.2.1.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/js_hola10/plugins.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/js_hola10/main.js' | relative_url }}"></script>
</body>

</html>
