<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>blog</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ 'assets/css/css_hola10/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/css_hola10/vendor.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/css_hola10/main.css' | relative_url }}">

  <script src="{{ 'assets/js/js_hola10/modernizr.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/js_hola10/pace.min.js' | relative_url }}"></script>
</head>

{% if page.pagination.enabled %}
  {% assign postlist = paginator.posts %}
{% else %}
  {% assign postlist = site.posts %}
{% endif %}

<body id="top">

<header class="s-header">
  <div class="header-logo">
    <a class="site-logo" href="{{ '/' | relative_url }}"><em>Jinyi Li</em></a>
  </div>
  <nav class="header-nav-wrap">
    <ul class="header-nav">
      <li><a href="{{ '/' | relative_url }}" title="about">about</a></li>
      <li class="current"><a href="{{ '/blog/' | relative_url }}" title="blog">blog</a></li>
      <li><a href="{{ '/publications/' | relative_url }}" title="publications">publications</a></li>
      <li><a href="{{ '/projects/' | relative_url }}" title="projects">projects</a></li>
      <li><a href="{{ '/cv/' | relative_url }}" title="cv">cv</a></li>
    </ul>
  </nav>
  <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
</header>

<section class="page-header page-hero" style="background-image:url(https://jinyi.li/assets/teaching/8.jpg)">
  <div class="row page-header__content">
    <article class="col-full">
      <div class="page-header__info">
        <div class="page-header__cat">
          <a href="{{ '/ziying/' | relative_url }}">Jinyi & Ziying</a>
        </div>
        <div class="page-header__date">
          July 16, 2025
        </div>
      </div>
      <h1 class="page-header__title">
        <a href="{{ '/ziying/2025-07-17-1314/' | relative_url }}">The 1314 Anniversary.</a>
      </h1>
      <p>The story of ours.</p>
    </article>
  </div>
</section>

<section class="blog-content-wrap">
  <div class="row blog-content">
    <div class="col-full">
      <div class="blog-list block-1-2 block-tab-full">

        {% for post in postlist %}
        <article class="col-block">
          <div class="blog-date">
            <a href="{{ post.redirect | relative_url }}">{{ post.date | date: "%b %d, %Y" }}</a>
          </div>
          <h2 class="h01"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.description }}</p>
          <div class="blog-cat">
            {% if tags != "" %}
              &nbsp; &middot; &nbsp;
              {% for tag in post.tags %}
                <a href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
              {% endfor %}
            {% endif %}
          </div>
        </article>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<script src="{{ 'assets/js/js_hola10/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/js_hola10/plugins.js' | relative_url }}"></script>
<script src="{{ 'assets/js/js_hola10/main.js' | relative_url }}"></script>
</body>
</html>
